<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css" integrity="sha384-jzngWsPS6op3fgRCDTESqrEJwRKck+CILhJVO5VvaAZCq8JYf8HsR/HPpBOOPZfR" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

    </head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">#FoodChain#</a>
    </div>
      {% if perms.FoodChain.change_dishorder %}

    <ul class="nav navbar-nav">
      <li><a href="{% url 'foodchain:homein'%}">HOME</a></li>
         <li><a href="{% url 'foodchain:dishlist' %}">DISHES</a></li>
        <li><a href="{% url 'foodchain:restorents' %}">RESTAURENTS</a></li>
      <li><a href="{% url 'foodchain:places' %}">PLACES</a></li>
        <li><a href="{% url 'foodchain:customerdet' user.customer.pk %}">PROFILE</a></li>
    </ul>
      {% else %}
        {% if perms.FoodChain.change_dishitem %}
        <ul class="nav navbar-nav">
             <li><a href="{% url 'foodchain:homein'%}">HOME</a></li>
             <li><a href="{% url 'foodchain:dishlist' %}">Your Dishitems</a></li>
             <li><a href="{% url 'foodchain:restorents' %}">Orders</a></li>

            <li><a href="{% url 'foodchain:restaurantprofile' user.restorent.pk %}">PROFILE</a></li>
        </ul>
      {% endif %}

      {% endif %}
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> logout</a></li>
        {% else %}
      <li><a href="{% url 'foodchain:signup1' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
  </div>

</nav>
 <div class="container">
     {% block content %}


     {% endblock %}
 </div>
</body>
</html>