<!DOCTYPE html>
{% extends "base_generic.html" %}

{% block content %}
  <h1>Places</h1>
  {% if placelist %}
  <div class="w3-row-padding w3-margin-top">
    {% for place in placelist %}

      <div class="row">
                    <div class=" col-xs-12">
                      <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h2><strong>{{ place.p_name }}</strong></h2>
                        </div>
                        <div class="panel-body">
                                      <a href="{% url 'foodchain:placedetails' place.pk %}">
                                               <div>
                                          <img src="{{place.p_image.url}}" class='img-responsive'>
                                                 </div>
                                                   <div>{{ place.p_name }}</div>
                                     </a>
                        </div>
                        </div>
                      </div>
                         <img src="{{i.dish.image.url}}" class='img-responsive'>
                    </div>




    {% endfor %}
  </div>

  {% else %}
    <p>There are no place</p>
  {% endif %}
{% endblock %}