<!DOCTYPE html>
{% extends "base_generic.html" %}

{% block content %}
  <h1>Restaurents</h1>
  {% if restlist %}
  <div class="w3-row-padding w3-margin-top">
    {% for rest in restlist %}
     <div class="w3-third" >
       <div class="w3-card">
        <a href="{% url 'foodchain:restaurentDetails' rest.pk %}">
        <div>
        <img src="{{rest.image_resr.url}}" class='img-responsive'>
        </div>
               <div>{{ rest.r_name }}</div>
        </a>
       </div>
     </div>
    {% endfor %}
  </div>
  {% else %}
    <p>There are no Restaurent.</p>
  {% endif %}
{% endblock %}