<!DOCTYPE html>
{% extends "base_generic.html" %}
{% block content %}
<head>
    <style>
        .col1{
         margin :10px;
         background-color:yellow;
              }

    </style>
 </head>
<section>
<h1>User Profile</h1>
<div class="container">
 <img src="{{ customer.image.url }}" class="img-circle" alt="Cinque Terre" width="304" height="236">
    {{customer.image.url}}
<table class="table">
    <tr>
        <td>user id</td>
        <td>
            {{ customer.details.id }}</td>
    </tr>
    <tr>
        <td>
           User Name
        </td>
        <td>
            {{ customer.details.username }}
        </td>
    </tr>
    <tr>
        <td>
           Customer Name
        </td>
        <td>
            {{ customer.name }}
        </td>
    </tr>
    <tr>
        <td>
            Phone number
        </td>
        <td>
            {{ customer.phono }}
        </td>
    </tr>

</table>
    <a class="btn btn-primary" href="{% url 'foodchain:cust_edit_profile' customer.pk %}"> Edit Profile</a>
</div>
</section>
<section>
<div class="container">
<h2 align="center">Your orders</h2>
    {% for i in customer.dishorder_set.all %}


<div class="container">
<div class ="container-fluid col1">
    <p>Order ID {{ i.O_id }}</p>
   <p>Dish Name {{ i.dishitem }}</p>
    <p>Restaurent Name  {{ i.restaurent }}</p>
    <p>Unit Price {{ i.dishitem.price }}</p>
    <p>Quantity {{ i.quantity }}</p>
     {% widthratio i.quantity 1 i.dishitem.price %}
    <a class="btn btn-primary" href="{% url 'foodchain:dishitemdelete' i.O_id %}">Cancel</a>
    </div>
</div>
</div>
</section>
{% endfor %}
{% endblock %}