<!DOCTYPE html>
{% extends "base_generic.html" %}
{% block content %}
<head>
    <style>
        .divcol{
         margin :10px;
         background-color:yellow;
              }

    </style>
 </head>

<h1>User Profile</h1>
<div class="col-sm-4">
 <img src="{{ customer.image.url }}" class="img-circle" alt="Cinque Terre" width="304" height="236">
<table class="table">
    <tr>
        <td>user id</td>
        <td>
            {{ customer.details.id }}</td>
    </tr>
    <tr>
        <td>
            user name
        </td>
        <td>
            {{ customer.details.username }}
        </td>
    </tr>
    <tr>
        <td>
            Phone number
        </td>
        <td>
            {{ customer.phono }}
        </td>
    </tr>
</table>
</div>
<div class="col-sm-8">
<h2 align="center">Your orders</h2>
    {% for i in customer.dishorder_set.all %}


<div class="container">
<div class ="divcol">
    <p>Order ID {{ i.O_id }}</p>
   <p>Dish Name {{ i.dishitem }}</p>
    <p>Restaurent Name  {{ i.restaurent }}</p>
    <p>Unit Price {{ i.dishitem.price }}</p>
    <p>Quantity {{ i.quantity }}</p>
     {% widthratio i.quantity 1 i.dishitem.price %}
    <a class="btn btn-primary" href="{% url 'foodchain:dishitemdelete' i.O_id %}">Cancel</a>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}