<!DOCTYPE html>
{% extends "base_generic.html" %}
{% block content %}
<head>
    <style>
        .divcol{
         margin :10px;
         background-color:yellow;
              }

    </style>
 </head>

<h1>User Profile</h1>
user id{{ userp.id }}
user name {{ userp.username }}
{% for i in userp.dishorder_set.all %}
<div class="container">
<div class ="divcol">
    <p>Order ID{{ i.O_id }}</p>
   <p>Dish Name{{ i.dish }}</p>
    <p>Unit Price{{ i.dish.price }}</p>
    <p>Quantity{{ i.quantity }}</p>
     {% widthratio i.quantity 1 i.dish.price %}
    </div>
</div>
{% endfor %}
{% endblock %}